@model IEnumerable<Cinema.Models.Recenzie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form asp-controller="Recenzie" asp-action="Index">
    <p>Introduceti Titlu Nota(cu spatiu intre)</p>
    <p>
        Title: <input type="text" name="SearchString" />
        <input placeholder="Titlu Nota" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titlu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeUtilizator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.Denumire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titlu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeUtilizator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Film.Denumire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecenzieId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecenzieId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecenzieId })
        </td>
    </tr>
}

</table>
